body{
    background-color: #E7E7E9;
}

span{
    letter-spacing: 0.003em;
}

.back_black{
    margin-top: -55px;
    background-color: #1A1A1A;
    padding-top: 50px;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: #00000000;
}

::-webkit-scrollbar-thumb {
    background-color: #23232321;
    border-radius: 50px;
}