.bali{
    background-position: 125% 40px;
    background-size: 936px;
}

.bali__content{
    width: 1200px;
    margin: 40px auto 0;
}

.bali__head_mob{
    display: none;
}

.bali__head{
    font-size: 48px;
    width: 474px;
}

.bali__text{
    width: 380px;
}

.bali__forBlock{
    margin-top: 40px;
}

.bali__nav{
    margin-bottom: 40px;
}