.dblock{
    width: 100%;
}

.dblock__head{
    font-family: 'Rubik';
    font-weight: 700;
    color: #2C2D2E;
}

.dblock__text{
    display: block;
    margin-top: 40px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #1A1A1A;
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
}

.dblock__img{
    width: 100%;
    position: absolute;
}

.dblock__img_light{
    display: none;
}